@model wpr201_assignment2_asp.Models.Pizza

@{
    ViewData["Title"] = "Lägg till pizza"; 
}

<h2>@ViewData["Title"]</h2>

<!-- Skapar ett formulär som skickar datan till "Create"-action i den kopplade controllern -->
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <!-- Formulärgrupp för pizzans namn -->
    <div class="form-group">
        <label asp-for="Name">Pizzans namn</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <!-- Formulärgrupp för pizzans beskrivning -->
    <div class="form-group">
        <label asp-for="Description">Beskrivning</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <!-- Formulärgrupp för pizzans pris -->
    <div class="form-group">
        <label asp-for="Price">Pris (sek)</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <!-- Formulärgrupp för att addera bild -->
    <div class="form-group">
        <label for="Uploadedimage">Bild</label>
        <input type="file" name="Uploadedimage" class="form-control">
    </div>

    <!-- Knapp för att skicka in formulär -->
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Spara pizza</button>

</form>
