@model wpr201_assignment2_asp.Models.Pizza

@{
    ViewData["Title"] = "Delete Pizza";
}

<h1>Are you sure you want to delete this pizza?</h1>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Yes, Delete</button>
</form>
