@model IEnumerable<wpr201_assignment2_asp.Models.Pizza>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- Displaying Pizzas -->
    <h2>Pizzor</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Pris (sek)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loopar igenom och visar pizzorna från Pizza controller -->
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.Id</td>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td>@pizza.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
