@model IEnumerable<wpr201_assignment2_asp.Models.Pizza>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello, World!</p>

    <!-- Displaying Pizzas -->
    <h2>Pizzas</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.Id</td>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td>@pizza.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
