@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Lilla Sara Pizzeria!</h1>
    <p>ADRESS</p>

    <!-- CTA-knapp -->
    <a asp-controller="Order" asp-action="Create" class="btn btn-primary">
        Beställ nu!
    </a>
</div>
