@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Lilla Sara Pizzeria!</h1>
    <p>ADRESS</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*<p>@Html.ActionLink("View Pizzas", "Index", "Pizza")</p>*@
</div>

